$borderLine : solid 1px $lightBlue;


// border radius
$radiusPrimary:10px;
$cardRadius: 15px;
$sliderRadius:30px;
$btnRadius : $radiusPrimary;
$footerRadius : 20px 20px 0 0;
$dropDownRadius : 0 0 $radiusPrimary $radiusPrimary;
$footerAddressRadius : 15px 0 0 15px;
