$borderLine : solid 1px $lightBlue;
$filterUlBorder:solid 1px $white;

// border radius
$radiusPrimary:10px;
$sliderRadius:30px; 
$filterContainerRadius:30px; 
$cardRadius: 15px;
$sliderRadius:30px;
$btnRadius : $radiusPrimary;
$footerRadius : 20px 20px 0 0;
$dropDownRadius : 0 0 $radiusPrimary $radiusPrimary;
$footerAddressRadius : 15px 0 0 15px;
//filter radius
$filterItemsRadius:$radiusPrimary;
