// defining color codes

$primaryColor :#fe0000;
$black :       #1f1f1f;
$darkBlue :    #061928;
$lightBlue :   #7D98A1;
$gray :        #f1f1f1;
$white :       #ffffff;

$secondaryColor : lighten($primaryColor, 10%);
$primaryColorLowOpacity:lighten($primaryColor, 45%);


// defining section colors

$backgroundColor : $white;
$sectionColor : $darkBlue;
$shopBtnColor : $secondaryColor;
$cardColor : $white;
$navColor : $white;
$textColorBlack : $black;
$textColorWhite : $gray;
$hiroButtonsBorderColor: $primaryColor; 
