$btnPadding : 10px 20px;
$containerPadding : 0 7%;
<<<<<<< HEAD
$menuBtnPadding : 20px 0;
$addressPadding : 25px 0;
//filter paddings
$filterContainerPadding: 33px 20px;
$filterUlPadding: 5px 5px;
$filterItemsPadding:10px 0 10px 0;

=======
$containerPaddingD : 0 10%;
$addressPadding : 25px 0;
>>>>>>> 3980785b1542ff92cf23ecfbf3243ecbe9b23c06
