$col-count: 12;
$first-breakpoint: sm;
$breakpoints: (
    md:   576px,
    lg:   768px,
    xl:   992px,
    xxl:  1200px,
    xxxl: 1600px,
);

@function media($break){
    @return map-get($breakpoints, $break);
}

@for $i from 1 through 12 {
    .col-#{$first-breakpoint}-#{$i} {
        width: (100% / $col-count) * $i;
    }
}

@each $breakpoint-name, $breakpoint-value in $breakpoints {
    @media screen and (min-width: $breakpoint-value) {
        @for $i from 1 through $col-count {
            .col-#{$breakpoint-name}-#{$i} {
                width: (100% / $col-count) * $i;
            }
        }
    }
}

/*** offset ***/
@for $i from 1 through 12 {
    .offset-#{$first-breakpoint}-#{$i} {
        margin-left: (100% / $col-count) * $i;
    }
}

@each $breakpoint-name, $breakpoint-value in $breakpoints {
    @media screen and (min-width: $breakpoint-value) {
        @for $i from 1 through $col-count {
            .offset-#{$breakpoint-name}-#{$i} {
                margin-left: (100% / $col-count) * $i;
            }
        }
    }
}

