//defining font families
$mainFontFamily : bYekan;


// defining font sizes;
$htmlFontSize : 62.5%;
$h1FontSize : 4.6rem;
$h2FontSize : 3.6rem;
$h3FontSize : 2.4rem;
$mainFontSize : 1.8rem;
$copyRightFontSize : 1.4rem;


// defining font sizes mobile;
$htmlMobileFontSize : 62.5%;
$h1MobileFontSize : 2rem;
$h2MobileFontSize : 1.5rem;
$h3MobileFontSize : 1rem;
$mainMobileFontSize : .75rem;
$copyRightMobileFontSize : .58rem;

//defining component font sizes
$btnFontSize : $mainFontSize;
$footerLinkFontSize : $h3FontSize;



//defining font weights
$regWeight : 400;
$boldWeight : 600;