//defining font families
$mainFontFamily : bYekan;


// mobile font sizes;
$htmlFontSize  : 62.5%;
$h1FontSize    : 3.8rem;
$h2FontSize    : 3.2rem;
$h3FontSize    : 2rem;
$mainFontSize  : 1.6rem;
$smallFontSize : 1.4rem;

// desktop font sizes
$lgFonts: (
    h1      : 4.8rem,
    h2      : 3.8rem,
    h3      : 3.3rem,
    primary : 1.8rem,
    small   : 1.6rem,
    );

    @function lgFont($Fsize) {
        @return map-get($lgFonts, $Fsize);
    };
    
    
    $xxxlFonts: (
    h1 : 6.8rem,
    h2 : 4.2rem,
    h3 : 3.8rem,
    primary : 2rem,
    small : 1.8rem
    );
    
    @function xxxlFont($xxxlsize) {
        @return map-get($xxxlFonts, $xxxlsize);
    };

    //defining component font sizes
$btnFontSize : $mainFontSize;
$footerLinkFontSize : $h3FontSize;

//defining font weights
$regWeight : 400;
$boldWeight : 600;