.dn {
    display: none;
}
.db {
    display: block;
}
.df {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-column {
    flex-direction: column;
}
.flex-row {
    flex-direction: row
}
.container-width {
    padding: $containerPadding;
}
.dn-to-df {
    display: none;
}
<<<<<<< HEAD
=======
.no-psoudo {
    &::after {
        display: none !important;
    }
    &::before {
        display: none !important;
    }
}
>>>>>>> 09b7f32bb0c3fffd1cc94a112fdd7cfa079a740e
