.dn {
    display: none;
}
.db {
    display: block;
}
.df {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-column {
    flex-direction: column;
}
.flex-row {
    flex-direction: row
}
.container-width {
    padding: $containerPadding;
}
.productContainer{
    width: 100%;
    display: flex;
    // display: grid;
    // grid-template-columns: repeat(auto-fit,minmax(60rem,.5fr));
    // grid-template-columns: auto auto;
    // flex-direction: row;

}