.dn {
    display: none;
}
.db {
    display: block;
}
.df {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-column {
    flex-direction: column;
}
.flex-row {
    flex-direction: row
}
.container-width {
    padding: $containerPadding;
}
<<<<<<< HEAD
=======
.dn-to-df {
    display: none;
}
>>>>>>> f114cbcdc0dcf872bfdc1abd6b04756b4c2e89e1
