@mixin box($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin psoudo() {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
}
// filter mixim

@mixin filterInSmall {
  @media (max-width: #{$filterInSmall}) {
    @content;
  }
}
@mixin filterInLg {
  @media (min-width: #{$filterInSmall}) {
    @content;
  }
}

@mixin card($radius) {
  background-color: $white;
  border-radius: $radius;
  box-shadow: $cardShadow;
}
