@mixin box($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin psoudo() {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
}
// filter mixim

@mixin filterInSmall {
  @media (max-width: #{$filterInSmall}) {
    @content;
  }
<<<<<<< HEAD
=======
}
@mixin filterInLg {
  @media (min-width: #{$filterInSmall}) {
    @content;
  }
>>>>>>> 23ef8e38f5126362ad1957957fd9f0241ce10aa5
}

@mixin card($radius) {
  background-color: $white;
  border-radius: $radius;
  box-shadow: $cardShadow;
<<<<<<< HEAD
} ;
=======
}
>>>>>>> 23ef8e38f5126362ad1957957fd9f0241ce10aa5
