.dn {
    display: none;
}
.db {
    display: block;
}
.df {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-column {
    flex-direction: column;
}
.flex-row {
<<<<<<< HEAD
    flex-direction: row;
=======
    flex-direction: row
>>>>>>> 9e89fd2c767c02dfca2ad98f9b1a66f6dc6d697d
}