.shopBtn {
    background-color: $shopBtnColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $btnPadding;
    font-size: $mainFontSize;
    color: $gray;
    height: 40px;
    line-height: 40px;
    width: 120px;
    border-radius: $btnRadius;

    span {
      margin-top: 5px;
    }
}

.hiroFirstButton {
  width: 115px;
  height: 40px;
  border: 1px solid $hiroButtonsBorderColor;
  border-radius: $radiusPrimary;
  font-family: $mainFontFamily;
  text-align: center;
}
