footer {
    background-color: $sectionColor;
    //add the radius to variables
    border-radius: 20px 20px 0 0;
    //add the radius to variables
}
.footer-links {
    // add the padding to variables
    padding: 10px 7%;
    // add the padding to variables

    >div {
        margin: 25px 0;
    }
    button {
        background-color: transparent;
        color: $gray;
    }
    > a {
        color: $gray;
    }
}