footer {
    background-color: $sectionColor;
    border-radius: $footerRadius;
    margin-top: 40px;
}
.footer-links {
    margin: 10px 0;

    >div {
        //make a variable
        padding: 10px 0;
        //make a variable
        border-bottom: solid 1px $lightBlue;
        //make a variable
    }
    button {
        background-color: transparent;
        color: $gray;
    }
    > a {
        color: $gray;
    }
}
.footer-address {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    .address-icons {
        background-color: $gray;
        height: 200px;
        width: 50px;
        border-radius: 15px 0 0 15px;
        padding: 25px 0;

        svg {
            height: 25px;
        }
    }
    .address {
        height: 200px;
        padding: 25px 0;
        align-items: flex-end;
        margin-right: 20px;
        span {
            line-height: 25px;
            color: $gray;
        }
    }
}
.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    svg {
        width: 120px;
        height: 50px;
    }
}
.footer-copyRight {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 1px $lightBlue;
    span {
        color: $lightBlue;
        margin: 5px 0;
    }
}