#nav-bar{
    display: none;
}

header{
    width: 100%;
    height: 65px;
    background-color:$navColor;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


