.header-sm {
  width: 100%;
  height: 65px;
  background-color: $white;
  display: flex;
  justify-content: space-around;
  .ham-menu {
    margin-top: 4px;
    span {
      display: block;
      height: 2px;
      background-color: $black;
      margin-top: 2px;
    }
  }
  .cart {
    width: 21.88px;
    height: 27.7px;
  }
}
