.about-us {
  margin-top: $sectionMargin;
}
.infoCard {
  position: relative;
  background-color: $white;
  border-radius: $radiusPrimary;
  margin-top: 20px;
  padding: 20px;
  max-width: 340px;
  img {
    max-width: 150px;
  }
  > h5 {
    font-size: $h3FontSize;
    color: $black;
    margin-top: 10px;
  }
  > p {
    margin-top: 10px;
    font-size: $smallFontSize;
    color: $infoTextColor;
    text-align: right;
  }
}
