.infoCard {
  position: relative;
  @include card($cardRadius);
  margin-top: $partMargin;
  padding: 20px;
  max-width: 340px;
  max-height: 340px;
  display: block;
  img {
    max-width: 160px;
    max-height: 80px;
  }
  > h5 {
    font-size: $h3FontSize;
    color: $black;
    margin-top: 10px;
  }
  > p {
    margin-top: 10px;
    font-size: $smallFontSize;
    color: $infoTextColor;
    text-align: right;
  }
}
