.shopCard {
    height: 290px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $white;
    border-radius: $radiusPrimary;
    overflow: visible;
    box-shadow: $cardShadow;
    transition: opacity .5s;
    > span {
        font-size: $h3FontSize;
    }
    
    > img {
        height: 140px;
        width: 165px;
        margin-top: 25px;
    }
    
    > a {
        transform: translateY(50%);
    }

}