.shopCard {
    height: 280px;
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @include card($cardRadius);
    overflow: visible;
    box-shadow: $cardShadow;
    margin-right: $partMargin;
    
    > span {
        font-size: $h3FontSize;
    }
    
    > img {
        height: 140px;
        width: 165px;
        margin-top: 25px;
    }
    
    > a {
        transform: translateY(50%);
    }
}