@media screen and (min-width: media(lg)){
    //font size classes 
    .h1 {font-size: lgFont(h1);}
    .h2 {font-size: lgFont(h2);}
    .h3 {font-size: lgFont(h3);}
    .primaryFont {font-size: lgFont(primary);}
    .smallFont {font-size: lgFont(small);}

    // changing display none to flex
    .dn-to-df {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .column-to-row {
        flex-direction: row;
    }
    //
    //nav bar lg
    //
    .mobile-nav {
        display: none;
    }
    //changing mobile nav bar display to none
    #nav-bar {
        display: none;
    }

    //
    // hero section lg
    //
    .hero {
        justify-content: space-between;
        flex-direction: row-reverse;
        .hero-btns {
            flex-direction: row;
        }
        .hero-h {
            align-items: flex-start;
        }
    }

    //
    // about us lg
    //
    .about-us {
        .info-cards {
            flex-direction: row;
            justify-content: space-evenly;
        }
        > div {
            margin-top: $sectionMargin + $partMargin;
            > h3, > p {
                color: $white;
            }

        }
    }
    .info-box {
        width: 730px;
        margin: 0 auto;
    }
    .aboutus-bg {
        display: block;
    }

}
@media screen and (min-width: media(xxl)){
    .info-box {
        margin-left: 0;
        margin-right: auto;
    }
    .aboutus-bg {
        height: 800px;
    }
}

@media screen and (min-width: media(xxxl)){
        //font size classes 
        .h1 {font-size: xxxlFont(h1);}
        .h2 {font-size: xxxlFont(h2);}
        .h3 {font-size: xxxlFont(h3);}
        .primaryFont {font-size: xxxlFont(primary);}
        .smallFont {font-size: xxxlFont(small);}
}