<<<<<<< HEAD
//
// hero section
//

.hero {
    img {
        margin-top: 60px;
    }
    a {
        margin-top: 20px;
    }
    h1 {
        font-size: $h1FontSize;
        margin-top: 40px;
        span {
            color: $primaryColor;
        }
    }
    h2 {
        font-size: $h2FontSize;
    }
}

//
// shop
//

.shop-section {
    background-color: $sectionColor;
    margin-top: $sectionMargin;
    padding-left: 0;
    scrollbar-width: none;
    ::-webkit-scrollbar {
        display: none;
    }
    .shop {
        overflow: scroll;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .illustration {
            width: 150px;
            img {
                height: 60px;
                display: block;
            }
            h5 {
                margin-top: $elementMargin;
                color: $gray;
                font-weight: 400;
            }
        }
        .cards {
            display: flex;
            justify-content: flex-start;
            margin-top: $sectionMargin;
            margin-bottom: $sectionMargin;
        }
    }
}

//
// about us
//

.about-us {
    h3 {
        font-size: $h2FontSize;
        color: $black;
        span {
            color : $primaryColor;
        }
    }
    > p {
        margin-top: $partMargin;
        color: $lightBlue;
        font-size: $mainFontSize;
        font-weight: 400;
    }
}
 

//
// Product Page
//

.productContainer{
    width: 100%;
    display: flex;
}
=======
.h1mobile {
  width: 100%;
  font-family: $mainFontFamily;
  color: $black;
  font-size: $h1MobileFontSize;
  font-weight: $boldWeight;
  text-align: center;
  span {
    color: $primaryColor;
  }
}
.h2mobile {
  width: 100%;
  display: block;
  font-family: $mainFontFamily;
  color: $black;
  font-size: $h2MobileFontSize;
  font-weight: $regWeight;
  text-align: center;

  span {
    color: $primaryColor;
  }
}
>>>>>>> c33b5339594669cb7269b7225ddc7161f6565874
