//
// hero section
//

.hero {
  img {
    margin-top: 60px;
  }
  a {
    margin-top: 20px;
  }
  h1 {
    font-size: $h1FontSize;
    margin-top: 40px;
    span {
      color: $primaryColor;
    }
  }
  h2 {
    font-size: $h2FontSize;
  }
}

//
// shop
//

.shop-section {
  background-color: $sectionColor;
  margin-top: $sectionMargin;
  padding-left: 0;
  scrollbar-width: none;
  ::-webkit-scrollbar {
    display: none;
  }
  .shop {
    overflow: scroll;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .illustration {
      width: 150px;
      img {
        height: 60px;
        display: block;
      }
      h5 {
        margin-top: $elementMargin;
        color: $gray;
        font-weight: 400;
      }
    }
    .cards {
      display: flex;
      justify-content: flex-start;
      margin-top: $sectionMargin;
      margin-bottom: $sectionMargin;
    }
  }
}

//
// about us
//

.about-us {
  h3 {
    font-size: $h2FontSize;
    color: $black;
    span {
      color: $primaryColor;
    }
  }
  p {
    margin-top: $partMargin;
    color: $black;
    font-size: $mainFontSize;
    font-weight: 400;
  }
}

//
// Product Page
//

.productContainer {
  width: 100%;
  display: flex;
  position: relative;
  top: 100px;
  @include filterInSmall {
    justify-content: center;
  }
}
.productGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-row-gap: 4rem;
  background-color: black;
  .shopCard {
    margin-left: auto;
    margin-right: auto;
  }
}
.filter {
  display: flex;
  flex-direction: column;
  background-color: rgb(35, 106, 240);
  border-radius: $filterContainerRadius;
  height: fit-content;
  padding: $filterContainerPadding;
  @include filterInSmall {
    display: none;
  }
  ul {
    display: flex;
    justify-content: space-between;
    // background-color: $filterULcolor;
    // background-color:red;
    // color: red;
  }
}
